@import "tailwindcss";

@theme {
  --color-emerald-400: #34d399;
  --color-emerald-800: #065f46;
  --color-emerald-900: #064e3b;
  --color-zinc-500: #71717a;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
}

@layer base {
  body {
    @apply bg-zinc-950 text-white antialiased overflow-x-hidden;
  }
}

.gsap-pin-spacer {
  /* GSAP utility class */
  z-index: 10;
}
